name: Build/release

on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - 'ci/**'
      - 'ci-**'
      - 'releases/**'
      - 'dev'
      - 'master'
      - 'test_ci'
      - 'feat/**'
    tags:
      - v0.*.*
      - v1.*.*
  pull_request:
    branches:
      - 'dev'
  # release:
  #   # Only use the types keyword to narrow down the activity types that will trigger your workflow.
  #   types: [published, created, edited]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: true

    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            arch: x64
            type: release
          - os: ubuntu-20.04
            arch: x64
            type: debug
          - os: ubuntu-20.04
            arch: ia32
            type: release
          - os: ubuntu-20.04
            arch: ia32
            type: debug
          - os: ubuntu-20.04
            arch: arm64
            type: release
          - os: ubuntu-20.04
            arch: arm64
            type: debug
          - os: ubuntu-20.04
            arch: arm
            type: release
          - os: ubuntu-20.04
            arch: arm
            type: debug
          - os: ubuntu-20.04
            arch: mips64
            type: release
          - os: ubuntu-20.04
            arch: mips64
            type: debug
          - os: ubuntu-20.04
            arch: ppc64
            type: release
          - os: ubuntu-20.04
            arch: ppc64
            type: debug
            test: skip
          - os: ubuntu-20.04
            arch: riscv64
            type: release
          - os: ubuntu-20.04
            arch: riscv64
            type: debug
          - os: ubuntu-20.04
            arch: loong64
            type: release
          - os: ubuntu-20.04
            arch: loong64
            type: debug
            test: skip
          - os: ubuntu-20.04
            arch: loong64ow
            type: release
          - os: ubuntu-20.04
            arch: loong64ow
            type: debug
          - os: ubuntu-20.04
            target: alpine
            arch: x64
            type: release
          - os: ubuntu-20.04
            target: alpine
            arch: ia32
            type: release
          - os: ubuntu-20.04
            target: alpine
            arch: arm64
            type: release
          - os: ubuntu-20.04
            target: android
            arch: x64
            type: release
            test: skip
          - os: ubuntu-20.04
            target: android
            arch: ia32
            type: release
            test: skip
          - os: ubuntu-20.04
            target: android
            arch: arm64
            type: release
            test: skip
          - os: ubuntu-20.04
            target: android
            arch: arm
            type: release
            test: skip
          - os: windows-2022
            arch: x64
            type: release
          - os: windows-2022
            arch: x64
            type: debug
          - os: windows-2022
            arch: ia32
            type: release
          - os: windows-2022
            arch: ia32
            type: debug
          - os: windows-2022
            arch: arm64
            type: release
            test: skip
          - os: windows-2022
            arch: arm64
            type: debug
            test: skip
          - os: macos-14
            arch: x64
            type: release
          - os: macos-14
            arch: x64
            type: debug
          - os: macos-14
            arch: arm64
            type: release
          - os: macos-14
            arch: arm64
            type: debug
          - os: macos-14
            target: iphone
            arch: arm64
            type: release
            test: skip
          - os: macos-14
            target: iphone
            arch: x64
            type: release
            test: skip

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup the environment
        shell: bash
        run: . ./build_tools/scripts/actions-env.sh
        env:
          BUILD_TARGET: ${{ matrix.target }}
          BUILD_ARCH: ${{ matrix.arch }}
          BUILD_TYPE: ${{ matrix.type }}

      - name: Build the project
        shell: bash
        run: |
          set -ev
          bash build -j2 ${BUILD_ARCH} ${BUILD_TARGET} ${BUILD_TYPE}
          tar -zcf ${BUILD_NAME}-${BUILD_TARGET}-${BUILD_ARCH}-${BUILD_TYPE}.tar.gz bin

      - name: Release the project
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.BUILD_NAME }}-${{ env.BUILD_TARGET }}-${{ env.BUILD_ARCH }}-${{ env.BUILD_TYPE }}.tar.gz
          tag: ${{ env.COMMIT_ID }}
          overwrite: true
          
      - name: Test
        if: ${{ matrix.test != 'skip' }}
        shell: bash
        run: . ./.github/workflows/test.sh
